.wrapper {
     height: 100%;
     display: flex;
     flex-direction: column;
     overflow: hidden;
}

.body {
     flex: 1;
     display: flex;
     min-height: 0; /* wichtig: erlaubt flex-child kleiner als Content zu werden */
     overflow: hidden;
}

.main {
     flex: 1;
     min-width: 0;
     overflow-y: auto;
     padding: 2rem 1.5rem;
}
